.wrapper {
  padding: 40px;
}

.dashboard {
  margin-top: 80px;
}

.form__card {
  max-width: 420px;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.dashboard h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}


.dashboard label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
}

.dashboard input {
  display: block;
  width: 100%;
  color: #0f1111;
  outline: none;
  border: 1px solid #888c8c;
  flex: 1;
  height: 36px;
  border-radius: 0.25rem;
  padding: 0 8px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.dashboard input:focus {
  border: 1px solid #2162a1;
  box-shadow: 0 0 6px rgba(0, 112, 243, 0.6);
}

.dashboard input:focus {
  outline: none;
  border-color: #007bff;
}

.dashboard ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 10px;
  background-color: #f1f3f6;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.dashboard li:hover {
  background-color: #e0e4eb;
}

.dashboard li button {
  background-color: #28a745;
  padding: 6px 12px;
  font-size: 0.9rem;
}

.dashboard li button:hover {
  background-color: #1e7e34;
}

.dashboard span {
  font-size: 0.95rem;
}